.side-bar {
  height: 100vh;
  background-color: #002233;
  position: relative;

  h2 {
    cursor: pointer;
    position: absolute;
    background-color: white;
    width: calc(100% - 40px);
    padding: 10px 20px;
    color: #002233;

    &:hover {
      background-color: #cbd3d6;
    }
  }

  .title-dashboard {
    top: 130px;
  }

  .title-logout {
    top: 190px;
  }
}
